body {
	font-family: Roboto, 'Open Sans', sans-serif;
}

.button {
	font-size:0.9em;
	background-color:#aaaaff; 
	border-radius: 5px;
	padding: 3px;
}
input {
	width:100px;
}
.beta {
	display:none;
}
.tab {
	font-size:12px;
	display:inline-block;
	padding:7px;
	border:1px solid darkgrey;
	border-radius:7px 7px 0px 0px;
}
.tab.active {
	background-color: aaaaff;
	box-shadow: 0px -2px #dddddd;
}

.code {
	background-color:#dddddd; 
	width: fit-content;
	font-family: 'Roboto Mono', serif; 
	font-size:11px;
	padding:5px;
}